/* nav start*/
header {
    /* position: fixed; */
    top: 0; left: 0; right: 0;
    background: #ffffff;
    padding: 0.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section {
    font-size: 1.5rem;
    color: black;
    padding: 1rem 0;
    line-height: 1.5;
    display: flex;
    justify-content: center;
}
body{
    background-repeat: no-repeat;
    background-size: cover;
    width: 1285px;
    height: 400px;
}
/* nav end*/

/* responsive start*/
@media (max-width:320px) {
    header{
        padding: 2rem;
    }
    h2{
        text-align: center;
    }
    p{
        text-align: center;
    }
    main .servicios{
        flex-direction: column;
    }
}
/* responsive end*/