/* nav start*/
header {
    /* position: fixed; */
    top: 0; left: 0; right: 0;
    background: #ffffff;
    padding: 0.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button{
    /* display: flex;
    align-items: center; */
    border-radius: 20px;
    width: 150px;
    height: 80px;
}

.button :hover{
    background-color: #053F5C;
    border-radius: 5rem;
    padding: 2rem 2.5rem;
}

/* a {
    background-color: #053F5C;
    border-radius: 20px;
    margin-top: 1rem;
    padding: 0.3rem 2rem;
} */
section {
    font-size: 1.5rem;
    color: black;
    padding: 1rem 0;
    line-height: 1.5;
    display: flex;
    justify-content: center;
}
body{
    background-repeat: no-repeat;
    background-size: cover;
    width: 1285px;
    height: 400px;
}
/* nav end*/

/* servicios start*/
/* servicios end*/

/* footer start*/
footer{
    background-color: #9FE7F5;
}
/* footer end*/